@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', Courier, monospace;
    text-align: center;
}

header {
    font-size: 75px;
}

.score {
    display: inline-block;
    margin: 50px 100px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}

.game-board {
    margin: 100px auto;
}

.row {
    margin: 0;
}

.cell {
    width: 150px;
    height: 150px;
    font-size: 150px;
    margin: 0;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    border: 3px;
    border-style: solid;
    border-color: black;
    /* padding: 10px; */
    background-color: white;
    cursor: pointer;
}



.top {
    border-top: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.btm {
    border-bottom: none;
}

.play {
    display: inline-block;
    font-size: 30px;
    margin: 50px auto;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}

.replay {
    display: inline-block;
    font-size: 30px;
    margin: 50px auto;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}
