@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Nixie+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', Courier, monospace;
    text-align: center;
    background-color: #4C3A51;
    color: #E7AB79;
}

header {
    font-family: 'Nixie One', Courier, monospace;
    font-size: 75px;
    margin: 30px auto;
    color: #ffffff;
    text-shadow: 
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 30px #E7AB79,
        0 0 50px #E7AB79,
        0 0 60px #E7AB79,
        0 0 70px #E7AB79,
        0 0 80px #E7AB79;
}

.neon-blink {
    animation: flicker 1s infinite alternate;
}

@keyframes flicker {
    0%, 20%, 26%, 30%, 67%, 100% {
        text-shadow: 
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 30px #E7AB79,
            0 0 50px #E7AB79,
            0 0 60px #E7AB79,
            0 0 70px #E7AB79,
            0 0 80px #E7AB79;
    }
    25%, 27%, 40% {
        text-shadow: none;
    }
}

.score {
    display: inline-block;
    margin: 50px 35px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #E7AB79;
    padding: 10px;
}

.score-x {

}

.board {
    margin: 100px auto;
    width: 90%;
}

.x {
    background-image: url(../img/X.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.o {
    background-image: url(../img/O.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.row {
    margin: 0;
}

.cell {
    width: 120px;
    height: 120px;
    margin: 0;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    border: 3px;
    border-style: solid;
    border-color: #B25068;
    /* padding: 10px; */
    background-color: #774360;
    cursor: pointer;
}

.cell:hover {
    background-color: #E7AB79;
}

#top-left {
    border-radius: 30px 0 0 0;
}

#top-right {
    border-radius: 0 30px 0 0;
}

#btm-left {
    border-radius: 0 0 0 30px;
}

#btm-right {
    border-radius: 0 0 30px 0;
}

.top {
    border-top: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.btm {
    border-bottom: none;
}

.play {
    display: flex;
    width: 200px;
    justify-content: center;
    font-size: 50px;
    margin: 20px auto;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #E7AB79;
    padding: 10px;
    cursor: pointer;
}

.play:hover {
    box-shadow: 0 0 10px #fff;
    text-shadow: 
        0 0 3px #fff,
        0 0 15px #E7AB79;
}

.win-message {
    animation: fade 5s infinite;
    margin: 20px auto;
    font-size: 30px;
}

@keyframes fade {
    0%, 100% { opacity: 0;}
    50% { opacity: 1;}
}

.replay {
    display: inline-block;
    font-size: 30px;
    margin: 50px auto;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #E7AB79;
    padding: 10px;
    cursor: pointer;
}

.replay:hover {
    box-shadow: 0 0 10px #fff;
}

@media only screen and (max-width: 600px) {
    .body {
        width: 70%;
    }
    
}